 ### Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [2]:
# String
my_str="Hello Vikram!"

In [3]:
my_str

'Hello Vikram!'

In [4]:
# list
my_list=[1,3,4,6,8]

In [5]:
# float
my_float=3.14

In [6]:
# tuple
my_tuble=(5,10,15,20,25)

 ### Given are some following variables containing data:

  (i)	var1 = ‘ ‘

  (ii)	var2 = ‘[ DS , ML , Python]’

 (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

  (iv)	var4 = 1.

In [ ]:
# var1=''
# It is a string with a single space chararter and also a empty space

In [7]:
# var2 =  ‘[ DS , ML , Python]’
 # It is an string that appears to reprresent a list it is currently formatted as a string.
  #  If we want to represent it as string it should remove the quotes and spaces around the list elements.
var2=['DS','ML','python']

In [8]:
# var 3 = ['DS','ML','python']
# var3 is a list containing three string elements.

In [9]:
# var4=1.
# It is float with the value of 1.0

In [10]:
# 'var1' and 'var2' are string
#'var3' is a list
#'var4' is a float

 ### Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [12]:
#  /  :-  It is an arithematic operator and used for division and return the floating point
#        number as the result

a=10
b=2
result=a/b
print(result)

5.0

In [13]:
# % :- It is an  arithematic operator and modulus operator used for remainder of the division 
#      and to check the for divisibility.

a=10
b=2
remainder=a%b
print(remainder)

0

In [5]:
# // :- It is a Floor division operator and used for largest integer that is less than or equal
#    to the division result.

a = 10
b = 3
result = a // b
print(result)

3

In [6]:
# ** :- The ** operator is used to raise a number to a power.
#       It performs exponentiation

a=2
b=3
result = a ** b
print(result)

8

In [8]:
### Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

my_list= [10,"Vikram",3.14,True,[1,2,3],"python",5,7.0,(8,9),False]

for item in my_list:
    print(f"Element:{item},Data Type:{type(item)}")

Element:10,Data Type:<class 'int'>
Element:Vikram,Data Type:<class 'str'>
Element:3.14,Data Type:<class 'float'>
Element:True,Data Type:<class 'bool'>
Element:[1, 2, 3],Data Type:<class 'list'>
Element:python,Data Type:<class 'str'>
Element:5,Data Type:<class 'int'>
Element:7.0,Data Type:<class 'float'>
Element:(8, 9),Data Type:<class 'tuple'>
Element:False,Data Type:<class 'bool'>

### Using a while loop,verify if the number A is purely divisible by number B and isf so the how many times it can be divisible.

In [12]:
 # Input the numbers A and B
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

# Initialize a count variable to keep track of the number of divisions

count = 0

# Perform division in a loop until A is not divisible by B

while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"{count} times purely divisible.")
    print(f"Result after division: {A}")
else:
    print("A is not purely divisible by B.")

Enter the dividend (A): 10
Enter the divisor (B): 5
1 times purely divisible.
Result after division: 2

### Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [13]:
# Create a list of 25 integers

my_list = [5, 12, 9, 8, 21, 15, 30, 18, 7, 14, 6, 11, 27, 32, 24, 17, 25, 22, 20, 33, 4, 10, 28, 13, 19]

# Iterate through the list and check for divisibility by 3

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

5 is not divisible by 3
12 is divisible by 3
9 is divisible by 3
8 is not divisible by 3
21 is divisible by 3
15 is divisible by 3
30 is divisible by 3
18 is divisible by 3
7 is not divisible by 3
14 is not divisible by 3
6 is divisible by 3
11 is not divisible by 3
27 is divisible by 3
32 is not divisible by 3
24 is divisible by 3
17 is not divisible by 3
25 is not divisible by 3
22 is not divisible by 3
20 is not divisible by 3
33 is divisible by 3
4 is not divisible by 3
10 is not divisible by 3
28 is not divisible by 3
13 is not divisible by 3
19 is not divisible by 3

### What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
 # Immutable Data Type :- Immutable data types are those whose values cannot be changed after they are created. Any operation that appears to modify the data type actually creates a new object with the modified value.
 #                        Immutable data types are typically safer and more predictable because their values cannot be accidentally altered. Some common examples of immutable data types in Python include:
#                          Integers (int)
#                         Floats (float)
#                        Strings (str)
#                       Tuples (tuple)

In [14]:
# Example of an immutable data type (string):
text = "Hello"
text += ", World" 
print(text)

Hello, World

In [ ]:
# Mutable Data Types: Mutable data types, on the other hand, can have their values modified after 
#                      creation. When you modify a mutable object, you are actually 
#                     changing the original object in memory.
#                      This can be useful for efficient data manipulation but requires more care to avoid unintended side effects.
#                      Lists (list)
#                     Dictionaries (dict)
#                      Sets (set)

In [15]:
# Example of a mutable data type (list):
my_list = [1, 2, 3]
my_list.append(4)  
print(my_list)

[1, 2, 3, 4]